In [1]:
%%writefile banco.csv
age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Writing banco.csv

In [2]:
# Extrair os valores da coluna idade
idades = []

with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo:
  cabecalho = arquivo.readline().split(sep=',')
  indice_idade = cabecalho.index('age')
  linha = arquivo.readline()
  while linha:
    idade = linha.split(sep=',')[indice_idade]
    idades.append(idade)
    linha = arquivo.readline()

print(idades)

['30', '33', '35', '30', '59', '35', '36', '39', '41', '43']

In [3]:
# Calcular a média das idades
from functools import reduce

soma_idades = reduce(lambda idade_a, idade_b: idade_a + idade_b, map(lambda idade: int(idade), idades))
qtd_idades = len(idades)

media_idades = soma_idades / qtd_idades
print(f"A média das idades é de {media_idades}.")

A média das idades é de 38.1.